*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(144, 203, 205);
}

header{
    display: flex;
    justify-content: center;
}

header > p{
    font-weight: bold;
    margin: 30px 0;
    color: rgb(144, 203, 205);
    position: relative;
    font-size: 3vw;
}

header > p::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    border-right: 5px solid blue;
    border-bottom: 5px solid red;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}


/* ******************* QUESTIONS ************************ */
.questions{
    margin: 30px 60px;
}

.ques1{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ques{
    font-size: 20px;
}

span{
    font-weight: bold;
}

.ans{
    margin-left: 70px;
}

button{
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    color: white;
}

.seeCode{
    display: flex;
    align-items: flex-start;
}

.code{
    display: none;
}


/*  *********************** Guess The Output ******************** */
.guessCode{
    font-size: 14px;
}

.seeCodeGuess{
    display: flex;
    align-items: center;
    gap: 20px;
}
.guessBtn{
    background-color: green;
    border: 2px solid white;
}
.guessBtn:hover{
    color: purple;
    border-color: purple;
}


/*  *********************** Guess The Output ******************** */
#time{
    color: navy;
    font-size: 1.8vw;
    position: absolute;
    top: 55px;
    right: 60px;
}